/* -------------------------------------------------------------------------- */
/*                                Main Settings                               */
/* -------------------------------------------------------------------------- */
@font-face {
    font-family: Gilroy;
    src: url('../assets/Fonts/Gilroy/GILROY-SEMIBOLD.TTF');
    font-weight: 700;
}

@font-face {
    font-family: WiGuru;
    src: url('../assets/Fonts/WiGuru/wiguru-13.ttf');
    font-weight: 400;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Gilroy, WiGuru;
}

body {
    background-color: #000;
}

.menu__box {
    display: none;
    position: relative;

    .menu__icon {
        cursor: pointer;
        display: flex;
        gap: 5px;

        span {
            pointer-events: none;
            border-radius: 50%;
            width: 5px;
            height: 5px;
            background-color: white;
        }
    }

    .menu__drop {
        display: none; //flex
        opacity: 0;
        width: 180px;
        position: absolute;
        top: -100px;
        right: -170px;
        flex-direction: column;
        background-color: rgba(255, 255, 255, 0.934);
        padding: 10px 15px;
        border-radius: 8px;
        z-index: 200;

        &.clicked {
            display: flex;
            opacity: 1;
        }

        gap: 15px;

        button {
            background: none;
            text-transform: uppercase;
            text-align: left;
            font-size: 14px;

            &:nth-child(2) {
                position: relative;

                &::before,
                &::after {
                    cursor: default;
                    content: '';
                    left: 0;
                    position: absolute;
                    width: 100%;
                    transform: translateY(50%);
                }

                &::before {
                    border-top: 1px solid var(--clr-grey);
                    top: -50%;
                }

                &::after {
                    bottom: -50%;
                    border-bottom: 1px solid var(--clr-grey);
                }
            }
        }
    }
}

button {
    background: none;
    border: none;
    text-align: left;
}

[class *="__container"] {
    width: 75%;
    margin: 0 auto;
    padding-right: 170px;
    float: right;

    @media screen and (max-width: 1640px) {
        padding-right: 70px;
    }

    @media screen and (max-width: 1024px) {
        float: right;
        padding: 0 15px;
    }

    @media screen and (max-width: 768px) {
        width: 100%;
    }
}

a,
button {
    cursor: pointer;
    border: none;
}

a {
    text-decoration: none;
}

.empty-cont {
    display: flex;
    align-items: center;
    font-size: 14px;
    color: var(--clr-white);
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background-color: rgba(25, 28, 33, .2);
}

::-webkit-scrollbar-thumb {
    background-color: var(--clr-black);
    border-radius: 10px;

}

input {
    outline: none;
}

.swiper-button-disabled {
    cursor: default;
    opacity: 0.3;
}

.swiper-pagination-bullet {
    background-color: var(--clr-grey);

    @media screen and (max-width: 600px) {
        background-color: var(--clr-white);
    }
}

.swiper-pagination-bullet-active {
    background-color: var(--clr-orange);
}

.container-title {
    font-size: 46px;
    color: var(--clr-white);
    margin-top: 75px;
    text-transform: uppercase;
}

.song__amount {
    font-size: 22px;
    color: var(--clr-orange);
}

.container-content {
    margin-top: 20px;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 25px;
}

.play {
    background-color: #fff;
}

.disabled {
    opacity: 0.4;
    cursor: crosshair;
}