/* -------------------------------------------------------------------------- */
/*                              Common Parameters                             */
/* -------------------------------------------------------------------------- */
:root {
    --clr-green: #00ECBE;
    --clr-white: #FFFFFF;
    --clr-orange: #EE6F57;
    --clr-black: #191C21;
    --clr-white-darker: #F6F6F6;
    --clr-grey: #8E9AA7;
}

/* -------------------------------------------------------------------------- */
/*                            Header And Navigation                           */
/* -------------------------------------------------------------------------- */
.header {
    position: relative;
    width: 100%;
    &::before {
        content: '';
        width: 100%;
        height: 1250px;
        position: absolute;
        z-index: -1;
        opacity: 0.2;
        background: linear-gradient(180deg, var(--clr-orange), rgb(41, 41, 41), #000);
    }
    &-heading {
        margin-top: 37px;
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        form {
            @media screen and (max-width: 768px) {
                display: none;
            }
            position: relative;
            width: 60%;
            label {
                position: relative;
                width: 100%;
                &::before {
                    content: '';
                    z-index: 10;
                    position: absolute;
                    top: 50%;
                    transform: translateY(-50%);
                    left: 15px;
                    background-image: url('../assets/Icons/search.svg');
                    width: 24px;
                    height: 24px;
                    background-repeat: no-repeat;
                    background-size: cover;
                }
                @media screen and (max-width: 768px) {
                    display: none;
                }
                input {
                    color: var(--clr-grey);
                    font-size: 16px;
                    width: 100%;
                    border: none;
                    padding: 21px 10px 21px 50px;
                    border-radius: 8px;
                    background-color: #8e9aa73d;
                    backdrop-filter: blur(10px);
                }
            }
            .header-search__drop {
                color: var(--clr-white);
                position: absolute;
                z-index: 100;
                opacity: 0;
                display: none; //flex
                margin-top: 0px;
                transition: .3s ease;
                border-radius: 8px;
                width: 100%;
                flex-direction: column;
                gap: 10px;
                padding: 10px;
                backdrop-filter: blur(10px);
                background-color: #8e9aa73d;
                &__music {
                    width: 100%;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                }
                &-music__creator {
                    display: flex;
                    align-items: center;
                    gap: 15px;
                }
                &-music__name {
                    font-size: 16px;
                    color: var(--clr-orange);
                    font-weight: 700;
                }
                &-artist__name {
                    font-size: 14px;
                    color: var(--clr-white);
                    text-transform: capitalize;
                }
                &-music__duration {
                    font-size: 16px;
                    color: var(--clr-white);
                }
            }
        }
    }
    &-user__info {
        display: flex;
        flex-direction: column;
        text-align: right;
        .header-user__name__block {
            display: flex;
            align-items: center;
            gap: 15px;
            @media screen and (max-width: 380px) {
                h2 {
                    display: none;
                }  
            } 
            img {
                width: 48px;
                height: 48px;
                object-fit: cover;  
            }
        }
        a {
            display: none;
            @media screen and (max-width: 768px) {
                display: inline-block;
            }
        }
        .header-user__name {
            font-size: 18px;
            color: var(--clr-white);
        }
        .header-user__status {
            color: var(--clr-grey);
            font-size: 14px;
            @media screen and (max-width: 768px) {
                display: none;
            }
        }
    }
    &-menu__box {
        display: none;
        @media screen and (max-width: 768px) {
            display: flex;
            align-items: center;
            gap: 15px;
        }
        .menu-btn {
            cursor: pointer;
            width: 30px;
            height: 30px;
            position: relative;
            z-index: 2;
            overflow: hidden;
        }
        .menu-btn span {
            width: 30px;
            height: 2px;
            position: absolute;
            background-color: var(--clr-white);
            transition: all 0.5s;
        }
        .menu-btn span:nth-of-type(1) {
            top: calc(50% - 5px);
        }
        .menu-btn span:nth-of-type(2) {
            top: calc(50% + 5px);
        }
    }
}
.nav {
    transition: .2s ease;
    position: fixed;
    top: 0;
    width: 20%;
    background-color:rgba(25, 28, 33, .6);
    backdrop-filter: blur(10px);
    height: 100%;
    @media screen and (max-width: 768px) {
        display: none;
        opacity: 0;
        top: -1%;
        width: 100%;
        height: 100%;
        z-index: 100;
        background-color: #191C21;
        &-content {
            width: 100%;
        }
        &-logo {
            display: none;
        }
    }
    &-content {
        height: 100%;
        display: flex;
        flex-direction: column;
        padding: 35px 40px;
        overflow: auto;
    }
    &-logo {
        margin-bottom: 40px;
    }
    &-playlists__collection {
        display: flex;
        flex-direction: column;
        gap: 40px;
    }
    &-playlist {
        display: flex;
        flex-direction: column;
        line-height: 1.67;
        &__title {
            font-size: 16px;
            color: var(--clr-grey);
        }
        &__item {
            font-size: 20px;
            color: var(--clr-white);
            @media screen and (max-width: 1024px) {
                font-size: 16px;
            }
            &.unpremium-txt {
                color: var(--clr-orange);
                text-decoration: underline;
                text-decoration-thickness: 1px;
            }
            &.premium-txt {
                color: var(--clr-orange);
                text-decoration: underline;
                text-decoration-thickness: 1px;
            }
        }
    }
    &-user__playlist__items {
        display: flex;
        flex-direction: column;
    }
    &-user__liked__songs {
        display: flex;
        flex-direction: column;
        gap: 15px;
        .nav-playlist__song {
            width: 100%;
            display: flex;
            justify-content: space-between;
            align-items: center;
            cursor: pointer;
            gap: 5px;
            .nav-song__name {
                font-size: 16px;
                color: var(--clr-white);
            }
            .nav-song__duration {
                font-size: 16px;
                color: var(--clr-grey);
            }
        }
    }
}
/* -------------------------------------------------------------------------- */
/*                                    Main                                    */
/* -------------------------------------------------------------------------- */
.main {
    width: 100%;
    &-screen__one-swiper {
        padding-top: 60px;
        width: 100%;
        @media screen and (max-width: 425px) {
            padding-top: 40px;
        }
        &-slide {
            display: flex;
            justify-content: space-between;
            align-items: center;
            &-music__info {
                display: flex;
                flex-direction: column;
                h2 {
                    letter-spacing: 2px;
                    font-weight: 400;
                    font-family: WiGuru;
                    color: var(--clr-orange);
                    font-size: 81px;
                }
            }
            &-music__dur__name {
                display: flex;
                flex-direction: column;
                gap: 30px;
                h4 {
                    letter-spacing: 2px;
                    font-weight: 400;
                    font-family: WiGuru;
                    font-size: 58px;
                    color: var(--clr-white);
                }
                span {
                    font-size: 16px;
                    color: var(--clr-grey);
                }
            }
            &-music__wrapper {
                position: relative;
                width: 410px;
                height: 410px;
                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    object-position: center;
                }
                &::before {
                    content: '';
                    z-index: -1;
                    position: absolute;
                    top: -30px;
                    right: -30px;
                    width: 100%;
                    height: 100%;
                    background-color: var(--clr-grey);
                    backdrop-filter: blur(10px);
                    opacity: 0.4;
                }
            }
            @media screen and (max-width: 1440px) {
                &-music__wrapper {
                    width: 314px;
                    height: 314px;
                }
            }
            @media screen and (max-width: 1024px) {
                &-music__wrapper {
                    &::before {
                        top: -12px;
                        right: -15px;
                    }
                }
                &-music__info {
                    h2 {
                        font-size: 61px;
                    }
                }
                &-music__dur__name {
                    gap: 10px;
                    h4 {
                        font-size: 38px;
                    }
                    span {
                        font-size: 14px;
                    }
                }
            }
            @media screen and (max-width: 768px) {
                &-music__info {
                    h2 {
                        font-size: 41px;
                    }
                }
                &-music__dur__name {
                    h4 {
                        font-size: 28px;
                    }
                    span {
                        font-size: 14px;
                    }
                } 
            }
            @media screen and (max-width: 600px) {
                align-items: flex-start;
                flex-direction: column-reverse;
                &-music__wrapper {
                    width: 100%;
                    height: 378px;
                    &::before {
                        display: none;
                    }
                }
                &-music__info {
                    margin-top: 30px;
                    h2 {
                        font-size: 31px;
                    }
                }
                &-music__dur__name {
                    flex-direction: row;
                    align-items: center;
                    h4 {
                        font-size: 22px;
                    }
                }
            }
        }   
        &-actions {
            position: absolute;
            z-index: 100;
            display: flex;
            align-items: center;
            bottom: 12%;
            left: 0;
            gap: 6px;
            .btn {
                width: 34px;
                height: 34px;
                background-position: center;
                background-repeat: no-repeat;
                background-size: cover;
                border-radius: 50%;
            }   
        }
        &-btn__prev {
            background-image: url('../assets/Icons/arrow-left.svg');
        }
        &-btn__next {
            background-image: url('../assets/Icons/arrow-right-pr.svg');
        }
        &-pag {
            position: absolute;
            z-index: 30;
            bottom: 0;
        }
        @media screen and (max-width: 1440px) {
            &-actions {
                bottom: 13%;
                left: 40px;
            }
        }
        @media screen and (max-width: 1290px) {
            &-actions {
                left: 0;
                bottom: -10%;
            }
            &-pag {
                left: 150px;
                bottom: -8%;
            }
        }
        @media screen and (max-width: 1024px) {
            &-actions {
                left: 0;
                bottom: 0%;
            }
            &-pag {
                left: 150px;
                bottom: 2%;
            }
        }
        @media screen and (max-width: 600px) {
            &-actions {
                bottom: 21%;
                left: 10px;
            }
            &-pag {
                left: 58%;
                text-align: right;
                bottom: 22%;
            }
        }
    }
    &-screen__two {
        position: relative;
        width: 100%;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        margin-top: 70px;
        margin-bottom: 86px;
        gap: 100px;
        padding: 36px 0;
        &::before {
            content: '';
            position: absolute;
            width: 121.2%;
            height: 100%;
            top: 0;
            left: -8%;
            z-index: -1;
            background-color: var(--clr-black);
        }
        &-container {
            width: 100%;
            display: flex;
            flex-direction: column;
            gap: 22px;
            &-content {
                width: 100%;
                display: flex;
                flex-direction: column;
                gap: 10px;
            }
            &-title {
                color: var(--clr-grey);
                text-transform: uppercase;
                font-size: 16px;
            }
            &-music__box {
                cursor: default;
                position: relative;
                width: 100%;
                display: flex;
                justify-content: space-between;
                align-items: center;
                .music__box-left {
                    display: flex;
                    align-items: center;
                    gap: 20px;
                    span {
                        font-size: 16px;
                        color: var(--clr-white);
                    }
                    &-track__poster {
                        width: 44px;
                        height: 44px;
                        object-fit: cover;
                        object-position: center;
                        z-index: -1;
                    }
                    .music__box-artist-info {
                        display: flex;
                        flex-direction: column;
                        gap: 10px;
                        h4 {
                            font-size: 16px;
                            color: var(--clr-white);
                            
                        }
                        span {
                            font-size: 14px;
                            color: var(--clr-grey);
                        }
                    }
                }
                .music__box-right {
                    position: absolute;
                    right: 0;
                    display: flex;
                    align-items: center;
                    gap: 10px;
                    height: 100%;
                    padding: 5px 0 5px 15px;
                    backdrop-filter: blur(4px);
                    img {
                        display: none;
                        cursor: pointer;
                        object-fit: contain;
                        transition: .3s ease;
                    }
                    .music__duration {
                        font-size: 16px;
                        color: var(--clr-grey);
                    }
                }
                
                &:hover {
                    .music__box-right {
                        img {
                            display: block;
                        }
                    }
                    .menu__box {
                        display: flex;
                        .menu__icon {
                            opacity: 1;
                        }
                    }
                }
                &.active {
                    .music__box-artist-info {
                        h4 {
                            color: var(--clr-orange);
                        }
                    }
                }
            }
        }
    }
    @media screen and (max-width: 1630px) {
        .main-screen__two {
            gap: 40px;
            &::before {
                width: 113%;
            }
        }    
    }
    @media screen and (max-width: 1440px) {
        &-screen__two {
            grid-template-columns: repeat(2, 1fr);
        }
    }
    @media screen and (max-width: 1024px) {
        &-screen__two {
            &::before {
                width: 109% !important;
            }
        }
    }
    @media screen and (max-width: 600px) {
        &-screen__two {
            grid-template-columns: repeat(1, 1fr);
        }        
    }
}
.public-player {
    position: fixed;
    z-index: 10000;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 1);
    &-container {
        position: relative;
        width: 100%;
        padding: 20px 37px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &__music {
        display: flex;
        flex-direction: column;
        gap: 10px;
        h2 {
            font-size: 18px;
            color: var(--clr-white);
        }
        span {
            font-size: 14px;
            color: var(--clr-grey);
        }
    }
    &-player {
        width: 50%;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 12px;
        &__actions {
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 15px;
            img {
                cursor: pointer;
            }
            .play {
                background-color: var(--clr-white);
                padding: 10px;
                border-radius: 50%;
            }
        }
        &__progress {
            border-radius: 8px;
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100%;
            span {
                font-size: 14px;
                color: var(--clr-grey);
                &:nth-child(1) {
                    margin-right: 15px;
                }
                &:nth-child(3) {
                    margin-left: 15px;
                }
            }
            &__bar {

                border-radius: 8px;
                margin: 0 auto;
                width: 100%;
                height: 6px;
                background-color: var(--clr-grey);
            }
            &__condition {
                height: 100%;
                width: 30%;
                border-radius: 8px;
                background-color: var(--clr-white);
            }
        }
    }
    @media screen and (max-width: 768px) {
        .empty {
            visibility: hidden;
        }
    }
    @media screen and (max-width: 425px) {
        .public-player-player__actions {
            img:not(.play) {
                display: none;
            }
            .play {
                padding: 10px;
            }
            .menu__box {
                display: flex;
                .menu__icon {
                    flex-direction: column;
                }
            }
        }
        &-player__music {
            width: 60%;
        }
        .public-player-player {
            width: 30%;
        }
        .public-player-player__progress {
            span {
                display: none;
            }
        }
        .public-player-player__progress__bar {
            position: absolute;
            left: 0;
            bottom: 0;
        }
    }
}