.main__playlists-container {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 100px;
    padding-top: 85px;
    @media screen and (max-width: 1800px) {
        grid-template-columns: repeat(2, 1fr);
    }
    @media screen and (max-width: 1090px) {
        grid-template-columns: repeat(1, 1fr);
    }
}
.modal__bg {
    display: none; // block
    opacity: 0;
    transition: .3s ease;
    position: fixed;
    top: 0;
    left: 0;
    backdrop-filter: blur(10px);
    width: 100%;
    height: 100%;
    z-index: 1000;
}
.modal {
    display: none; // flex
    opacity: 0;
    transition: .3s ease;
    position: fixed;
    top: 50%;
    left: 50%;
    max-width: 95%;
    width: 100%;
    transform: translate(-50%, -50%);
    z-index: 20000;
    flex-direction: column;
    background-color: var(--clr-black);
    padding: 60px 50px;
    border-radius: 8px;
    .closer {
        width: 100%;
        position: relative;
        img {
            cursor: pointer;
            position: absolute;
            right: -30px;
            top: -35px;
        }
    }
    &-title {
        font-family: WiGuru;
        font-weight: 400;
        font-size: 46px;
        color: var(--clr-orange);
        margin-bottom: 65px;
    }
    &-playlists-container {
        width: 75%;
        display: flex;
        flex-direction: column;
        gap: 40px;
    }
    &-playlist {
        cursor: pointer;
        display: flex;
        justify-content: space-between;
        align-items: center;
        &__name {
            font-size: 22px;
            color: var(--clr-white);
        }
        &__amount {
            font-size: 22px;
            color: var(--clr-grey);
        }
    }
    &-bottom {
        margin-top: 50px;
        width: 75%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        button {
            border-radius: 8px;
            transition: .2s ease;
            text-align: left;
            font-size: 22px;
            text-decoration: underline;
            width: max-content;
            background: none;
            color: var(--clr-white);
        }
        form {
            display: none; //flex
            opacity: 0;
            transition: .3s ease;
            width: 100%;
            flex-direction: column;
            gap: 6px;
            input {
                &::placeholder {
                    color: var(--clr-grey);
                    font-size: 22px;
                }
                border: none;
                width: 100%;
                padding: 12px 18px;
                border-radius: 8px;
                font-size: 22px;
                background-color: #8e9aa73d;
                color: var(--clr-grey);
            }
            button {
                padding: 12px 18px;
                width: 100%;
                text-align: center;
                background-color: var(--clr-orange);
                color: var(--clr-black);
                text-decoration: none;
            }
        }
    }
    @media screen and (max-width: 425px) {
        padding: 80px 25px 30px;
        .closer {
            img {
                top: -55px;
                right: 0px;
            }
        }
        &-title {
            top: 20px;
            left: 20px;
            position: absolute;
            font-size: 28px;
        }
        &-playlists-container {
            width: 100%; 
            gap: 30px;
        }
        &-playlist__name {
            font-size: 16px;
        }
        &-playlist__amount {
            font-size: 16px;
        }
        &-bottom {
            width: 100%;
            margin-top: 20px;
            form {
                input {
                    font-size: 16px;
                    &::placeholder {
                        font-size: 16px;
                    }
                }
                button {
                    font-size: 16px;
                }
            }
        }
    }
}