.register {
    margin-top: 40px;
    width: 60%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;

    label,
    span {
        text-transform: capitalize;
        font-size: 14px;
        color: var(--clr-grey);
    }

    input[type="text"] {
        width: 60%;
        border-radius: 8px;
        background-color: #8e9aa73d;
        border: none;
        padding: 15px 25px;
        font-size: 16px;
        color: var(--clr-white);
        margin-bottom: 15px;
    }

    .premium {
        display: flex;
        align-items: center;
        gap: 15px;

        span {
            color: white;
            font-size: 16px;
        }

        .checkbox-area {
            position: relative;
            background-color: var(--clr-white);
            border-radius: 15px;
            width: 42px;
            height: 26px;

            .checkbox-input {
                visibility: hidden;
            }

            .checkbox-label {
                display: block;
                position: absolute;
                background-color: var(--clr-black);
                width: 22px;
                height: 22px;
                border-radius: 50%;
                top: 2px;
                left: 2px;
                transition: .2s ease;
            }

            .checkbox-input:checked + .checkbox-label {
                left: 18px;
            }
        }
    }
    h2 {
        display: flex;
        align-items: center;
        gap: 10px;
        color: var(--clr-white);
        font-size: 14px;
        margin: 40px 0;
    }
    button {
        width: 40%;
        padding: 18px;
        text-align: center;
        border-radius: 8px;
        background-color: var(--clr-orange);
        font-size: 16px;
        opacity: 0.9;
        transition: .2s ease;
        &:hover {
            opacity: 1;
        }
    }
}
@media screen and (max-width: 720px) {
    .register {
        width: 100%;
        input[type="text"] {
            width: 100%;
        }
        h2 {
            margin: 20px 0;
        }
        button {
            width: 100%;
        }
    }   
}